.DS_Store
Thumbs.db

build/
build-*/
debug/
release/

*.pro.user
*.pro.user.*
*.creator
*.creator.user
*.creator.user.*
*.qmake.stash

Makefile*
*.o
*.obj
*.lo
*.la
*.a
*.lib

*.exe
*.out
*.app

moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp

*.log
*.tmp
*.temp
*~

.vscode/
.idea/
